box2d-py
gym
Keras
Keras-Preprocessing
tensorboard
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
tqdm
pandas
matplotlib
scipy
cpprb
git+https://github.com/BSCCNS/perseo.git@72aa020#egg=perseo
